body {
  margin-top: 0em;
  padding: 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f5f5f5;
}

a {
  color: #00B7FF;
}

li {
  list-style: none;
  margin-bottom: 1em
}

li img {
  width: 50%;
}

.main-window, #new-message {
  box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.6);
}

#new-message.row {
  border-radius: 0 0 10px 10px;
}


.main-window {
  border-radius: 10px 10px 0px 0;
  height: 500px;  
  max-height: 500px;
  min-height: 200px;
}

.sidebar {
  background: #4d394b;
  color: #f5f5f5;
  padding: 0;
  border-radius: 10px 0px 0px 0px;
  height: 100% !important; 
}

.sidebar .sidebar-header {
  background: #291A28;
  padding: 0.25em 0.75em;
  border-radius: 10px 0px 0px 0px;
}

.sidebar .sidebar-header h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: white;
  font-size: 2em;
  margin: 0em;
}

.sidebar .sidebar-content {
  padding: 0.25em 0.75em;
}

.chat-window {
  background: #f5f5f5;
  padding: 0;
  border-radius: 0px 10px 0px 0px;
  overflow: scroll;
  height: 100% !important;
  position: relative;
}

.chat-window-header {
  background: #bdbdbd;
  padding: 0.25em 1em;
  border-radius: 0px 10px 0px 0px;
}

.chat-window-header h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 2em;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
  color: #555;
}

.main-chat {
  padding: 1em;
  height: auto
}

#new-message {
  background: #efefef;
  padding: 0;
  bottom: 0;
}

#new-message.row {
  padding: 1em 0;
  width: 100%;

}


#new-message input {
  width: 100%;
  padding: 0.75em;
  border-radius: 5px;
  margin-bottom: 0;
}

form#messageForm > * {
  display: inline-block;
}

form#messageForm input {
width: 65%;
}

form#messageForm button {
width: 30%;
}

button {
  padding: 0.6em;
  width: 100%;
  margin-bottom: 0;
  border-radius: 5px;
}

::-webkit-input-placeholder {
    color: #bababa;
}
:-moz-placeholder {
  color: #bababa;
}
::-moz-placeholder {
  color: #bababa;
}
:-ms-input-placeholder {
  color: #bababa;
}

footer {
  display: block;
  background: #cecece;
  border-radius:  0 0 10px 10px;
}

p.footer  {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  margin: 0;
  padding: 1em 0;
  color: #666;

}


@media (max-width: 1024px) {
  #new-message input {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .sidebar {
    border-radius: 10px 10px 0px 0px;
    height: 46px !important;
  }

  .sidebar .sidebar-header {
    border-radius: 10px 10px 0px 0px; 
  }

  .sidebar .sidebar-content {
    display: none;
  }

  .chat-window {
    border-radius: 0 0 10px 10px;
  }

  .chat-window-header {
    border-radius: 0px;
  }

  #new-message.row {
    position: fixed;
  }

  #new-message .large-2.columns {
    border-radius: 10px
  }

  #new-message.row .columns {
    margin-bottom: 1em;
  }

  .main-window {
    box-shadow: none;
    height: 500px;
  }

  ul {
    margin-left: 0;
    margin-bottom: 7em;
  }

  li img {
    width: 100%;
  }

  body {
    margin: 0;
    padding: 0 !important;
  }

}

#nick {
   font-size: 12px;
   color: mediumpurple;
}